{% extends 'base.html.twig' %}
{% trans_default_domain 'invoice' %}
{% block body %}
    <div class="row">
        <table class="table js-invoice-bases">
            <thead>
            <tr>
                <th>{{ 'invoice.invoicebase.header.id' | trans }}</th>
                <th>{{ 'invoice.invoicebase.header.description' | trans }}</th>
                <th>{{ 'invoice.invoicebase.header.quantity' | trans }}</th>
                <th>{{ 'invoice.invoicebase.header.invoice' | trans }}</th>
                <th>{{ 'invoice.invoicebase.header.projectname' | trans}}</th>
            </tr>

            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr>
                <th>{{ 'invoice.invoicebase.header.id' | trans }}</th>
                <th>{{ 'invoice.invoicebase.header.description' | trans }}</th>
                <th>{{ 'invoice.invoicebase.header.quantity' | trans }}</th>
                <th>{{ 'invoice.invoicebase.header.invoice' | trans }}</th>
                <th>{{ 'invoice.invoicebase.header.projectname' | trans}}</th>
            </tr>

            </tfoot>
        </table>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ render(controller('App\\Controller\\InvoiceController::selectInvoice')) }}
        </div>
        <div class="col-lg-4">
            <button class="btn btn-info js-create-invoice">
                {{ 'invoice.button_create' | trans }}
            </button>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('table.js-invoice-bases').DataTable({
                processing: true,
                serverSide: true,
                ajax: '/ajaxRoute/findAllInvoiceBases',
                dom: '<"text-right"B>lfrtip',
                searching: true,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Alla"]],
                order: [],
                buttons: []
            });
        });
    </script>
{% endblock %}
