{% extends 'base.html.twig' %}
{% trans_default_domain 'invoice' %}
{% block body %}
    {% if form.children.invoiceitems is defined %}
        {% set invoiceRows = form.children.invoiceitems %}
        {% set header=invoiceRows[0] %}
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    <div class="row">
        <div class="col-md-12">
            {{ customer.companyName }}
        </div>
        <div class="col-md-12">
            {{ customer.buildingNumber }} {{ customer.street }}
        </div>
        <div class="col-md-12">
            {{ customer.zipcode }} {{ customer.city }}
        </div>
    </div>
    <table class="table">
        <thead>
        <tr class="invoice-row">
            <th>{{ form_label(header.description) }}</th>
            <th>{{ form_label(header.quantity) }}</th>
            <th>{{ form_label(header.price) }}</th>
            <th colspan="2">{{ form_label(header.vat) }}</th>
        </tr>
        </thead>
        <tbody>
        {% for invoiceRow in invoiceRows %}
            <tr>
                <td>{{ form_widget(invoiceRow.description) }}</td>
                <td>{{ form_widget(invoiceRow.quantity) }}</td>
                <td>{{ form_widget(invoiceRow.price) }}</td>
                <td>{{ form_widget(invoiceRow.vat) }}</td>
                <td><a href="" rel="invoiceBases-{{ loop.index }}" class="collapsed "></a></td>
            </tr>
            <tr>
                <td colspan="5">
                    <table class="table invoiceBases-{{ loop.index }} collapsed">
                        <thead>
                        <tr>
                            <th>{{ 'invoice.invoicebase.header.id' | trans }}</th>
                            <th>{{ 'invoice.invoicebase.header.description' | trans }}</th>
                            <th>{{ 'invoice.invoicebase.header.quantity' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoiceBase in invoiceRow.vars.data.invoiceBase %}
                            <tr>
                                <td>{{ invoiceBase.id }}</td>
                                <td>{{ invoiceBase.description }}</td>
                                <td>{{ invoiceBase.quantity }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4">
            {{ form_label(form.isOpen) }}
            {{ form_widget(form.isOpen) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
    </div>
    <div class="form-group col-md-offset-8">
        {{ form_row(form.save) }}
    </div>
    {{ form_end(form) }}
    {% if invoiceId is defined %}
    <a class="btn btn-info" href="{{ path('print_invoice', {"id": invoiceId}) }}">
        {% trans %}invoice.print.print{% endtrans %}
    </a>
    {% endif %}
{% endblock %}