{% extends 'base.html.twig' %}
{% trans_default_domain 'invoice' %}
{% block body %}
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h1>{% trans %}invoice.invoice{% endtrans %}</h1>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="{{ path('_default') }}">
                <img src="{{ asset('logo.png') }}" class="img-responsive">
            </a>
        </div>
    </div>
    <hr>
    <div class="row h-100">
        <div class="col-8 invoice-details">
            <div class="row">
                <div class="col-3 text-right">
                    {% trans %}invoice.print.created{% endtrans %}:
                </div>
                <div class="col-9">
                    {{ invoice.createdAt | date("Y-m-d") }}
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    {% trans %}invoice.print.invoiceid{% endtrans %}:
                </div>
                <div class="col-9">
                    {{ invoice.invoiceNumber }}
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    {% trans %}invoice.print.customerid{% endtrans %}:
                </div>
                <div class="col-9">
                    {{ customer.id }}
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    {% trans %}invoice.print.pagenr{% endtrans %}:
                </div>
                <div class="col-9">

                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    {% trans %}invoice.print.bankgiro{% endtrans %}:
                </div>
                <div class="col-9">
                    372-6106
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <i style="font-size: 8px;">Avs: Let IT Rock Klarinettgatan 11 421 39 Västra Frölunda</i>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ customer.companyName }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% if contact %}
                    {{ contact.getFirstName }} {{ contact.getLastName }}
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% if customer.buildingNumber > 0 %}
                    {{ customer.buildingNumber }}
                {% endif %}
                {{ customer.street }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ customer.zipcode }} {{ customer.city }}
            </div>
        </div>
    </div>
    <hr>
    <div class="row h-100">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h3>
                {% trans %}invoice.print.invoicepaydate{% endtrans %}: {{ invoice.createdAt | date_modify("+30 day")| date("Y-m-d") }}
            </h3>

        </div>
    </div>
    <hr>
    <div class="row">
        <table class="table table-striped table-borderless">
            <thead>
            <tr>
                <th>{% trans %}invoice.print.description{% endtrans %}</th>
                <th>{% trans %}invoice.print.quantity{% endtrans %}</th>
                <th>{% trans %}invoice.print.unitcost{% endtrans %}</th>
                <th>{% trans %}invoice.print.total.excl{% endtrans %}</th>
                <th>{% trans %}invoice.print.total.incl{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% set extotal = 0 %}
            {% set inctotal = 0 %}
            {% set vat = 0 %}
            {% for item in items %}
                <tr>
                    <td>{{ item.description }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity * item.price }}</td>
                    <td>{{ item.quantity * item.price * (1+item.vat/100) }}</td>
                </tr>
                {% set extotal = extotal + item.quantity * item.price %}
                {% set inctotal = inctotal +  item.quantity * item.price * (1+item.vat/100) %}
                {% set vat = item.vat %}
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td>{{ extotal }}</td>
                <td><strong>{{ inctotal }}</strong></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col align-self-start"></div>
        <div class="col align-self-center"></div>
        <div class="col align-self-end">
            <table class="table-sm invoice-totals ">
                <tbody>
                <tr class="extotal">
                    <td class="text-right">{% trans %}invoice.print.total.excl{% endtrans %}:</td>
                    <td>{{ extotal }}</td>
                </tr>
                <tr class="vat">
                    <td class="text-right">{% trans %}invoice.print.vat{% endtrans %} 25%:</td>
                    <td>{{ extotal * vat/100 }}</td>
                </tr>
                <tr class="inctotal">
                    <td class="text-right">{% trans %}invoice.print.total.incl{% endtrans %}:</td>
                    <td>{{ inctotal }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="printing-info">
        <p>{{ invoice.description }}</p>
        <p><strong>Vi ber Er vänligen betala denna faktura inom 30 dagar</strong></p>
        <p>
            Let IT Rock | ORG: 197503104890 | WWW: www.letitrock.se | EMAIL: . info@letitrock.se | +46709491479 |
            <br>Företaget har F-skattesedel. Vid betalning efter förfallodagen
            debiteras dröjmålsränta på 1.5%
        </p>
    </div>
{% endblock %}
