{% extends 'base.html.twig' %}
{% trans_default_domain 'invoice' %}
{% block body %}
    {%  trans_default_domain 'invoice' %}
    <table class="table js-invoices">
        <thead>
            <tr>
                <td>{{ 'invoice.header.updated' | trans }}</td>
                <td>{{ 'invoice.header.customer' | trans }}</td>
                <td>{{ 'invoice.header.project' | trans }}</td>
                <td>{{ 'invoice.header.amount' | trans }}</td>
                <td>{{ 'invoice.header.amountVAT' | trans }}</td>
                <td>{{ 'invoice.header.amountTotal' | trans }}</td>
                <td>{{ 'invoice.header.status' | trans }}</td>
                <td>{{ 'invoice.header.action' | trans }}</td>
            </tr>
        </thead>
        <tbody>
        {% for row in invoices %}
            {% set invoice = row['invoice'] %}
            {% set company = row['company'] %}
            {% set project = row['project'] %}
            {% set amount = row['amount'] %}
            <tr>
                <td>{{ invoice.updatedAt | date("Y-m-d") }}</td>
                <td><a href="{{ path('customer_edit', {'id': company['id'] }) }}">{{ company['name'] }}</a></td>
                <td><a href="{{ path('projects_edit', {'id': project['id'] }) }}">{{ project['name'] }}</a></td>
                <td>{{ amount['no_vat'] }}</td>
                <td>{{ amount['vat'] }}</td>
                <td>{{ amount['total'] }}</td>
                <td>
                    {% set payDate = invoice.updatedAt | date_modify("+" ~ invoice.paylimit ~ "day") | date("Y-m-d") %}
                    {% if "now" | date("Y-m-d") < payDate %}
                        <img src="{{ asset('images/bullet_black.png') }}" class="img-responsive">
                    {% elseif invoice.payStatus %}
                        <img src="{{ asset('images/bullet_green.png') }}" class="img-responsive">
                    {% else %}
                        <img src="{{ asset('images/bullet_red.png') }}" class="img-responsive">
                    {% endif %}
                </td>
                <td>
                    {% if invoice.isOpen %}
                        <a href="{{ path('edit_invoice',{'id': invoice.id}) }}">
                            <img src="{{ asset('images/edit.png') }}" class="img-responsive">
                        </a>
                    {% else %}
                        {% if not invoice.payStatus %}
                            <a href="{{ invoice.id }}" class="js-set-paid">
                                <img src="{{ asset('images/accept.png') }}" class="img-responsive">
                            </a>
                        {% endif %}
                        <a href="{{ path('print_invoice', {id:invoice.id}) }}" class="js-set-print">
                            <span class="glyphicon glyphicon-print"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.js-invoices').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Alla"]],
                order: []
            });
        });
    </script>
{% endblock %}

