/*
    Document   : letitrock
    Created on : 2016-09-21
    Author     : peter@letitrock.se
    Description:
        Purpose of the stylesheet follows.
*/

body{
  padding-top:10px;
}

.container-fluid {
  margin: 20px 0 10px 0;
}

.contacts li{
  list-style: none;

  .remove-contact{
    margin: 5px;
  }
}

/* Sub tables shouldn't be striped */
.table-striped table tbody tr:nth-of-type(odd),
.table-striped table thead tr:nth-of-type(odd) {
  background-color: #fff;
  text-decoration: none;
}

.table {
  &.collapsed {
    display: none;
  }
}

.printing-info {
  margin-top: 100px;
}

.table{
  td {
    a {
      &.collapsed {
        background: url(/images/menu-collapsed.png) 0 bottom no-repeat;
        width: 7px;
        height: 7px;
        display: inline;
        margin: 0 10px;
        padding: 4px;
        font-size: 0;
      }
      &.expanded {
        background: url(/images/menu-expanded.png) 0 bottom no-repeat;
        width: 7px;
        height: 7px;
        display: inline;
        margin: 0 10px;
        padding: 4px;
        font-size: 0;
      }
    }
  }
}
