{% extends 'base.html.twig' %}
{% trans_default_domain 'customer' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    <div class="row contacts">
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.companyName) }}
                {{ form_widget(form.companyName) }}
            </div>
            <div class="form-group">
                {{ form_label(form.street) }}
                {{ form_widget(form.street) }}
            </div>
            <div class="form-group">
                {{ form_label(form.buildingNumber) }}
                {{ form_widget(form.buildingNumber) }}
            </div>
            <div class="form-group">
                {{ form_label(form.zipcode) }}
                {{ form_widget(form.zipcode) }}
            </div>
            <div class="form-group">
                {{ form_label(form.city) }}
                {{ form_widget(form.city) }}
            </div>
            <div class="form-group">
                {{ form_label(form.country) }}
                {{ form_widget(form.country) }}
            </div>
            <div class="form-group">
                {{ form_label(form.vatNumber) }}
                {{ form_widget(form.vatNumber) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
        </div>
        <div class="col-md-8">
            <h4>{{ 'customer.contact' | trans  }}</h4>
            <ul class="js-contacts"
                data-prototype="{{ form_widget(form.customerContact.vars.prototype)|e('html_attr') }}">
                {% for contact in form.customerContact %}
                    <li class="form-group col-md-4">
                        <div class="form-group">
                            {{ form_label(contact.firstname) }}
                            {{ form_widget(contact.firstname) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(contact.lastname) }}
                            {{ form_widget(contact.lastname) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(contact.phone) }}
                            {{ form_widget(contact.phone) }}
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit"
                                    class="btn btn-danger js-remove-contact-link remove-contact"
                                    value='{"contact": {{ contact.vars.value.id }}, "customer": {{ id }}}'
                                    name="contact_{{ contact.vars.value.id }}">
                                {{ 'customer.contact.button_remove' | trans }}
                            </button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="form-group col-md-offset-8">
        {{ form_row(form.save) }}
    </div>
{% endblock body %}