{% extends 'base.html.twig' %}
{% trans_default_domain 'customer' %}
{% block body %}
    <table class="table js-customers">
        <thead>
        <tr>
            <th>{{ 'customer.company_name' | trans }}</th>
            <th>{{ 'customer.street' | trans }}</th>
            <th>{{ 'customer.postal' | trans }}</th>
            <th>{{ 'customer.vat' | trans }}</th>
        </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td><a href="{{ path('customer_edit', {'id': customer.id }) }}">{{ customer.companyName  }}</a></td>
                <td>{{ customer.street }} {{ customer.buildingNumber }}</td>
                <td>{{ customer.zipcode }} {{ customer.city }}</td>
                <td>{{ customer.vatNumber }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.js-customers').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Alla"]],
                order: []
            });
        });
    </script>
{% endblock %}
