<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Let IT Rock{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!-- datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
</head>
<body>
<div class="container-fluid" role="heading">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 d-print-none">
            <a href="{{ path('_default') }}">
                <img src="{{ asset('logo.png') }}" class="img-responsive">
            </a>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include 'header.html.twig' %}
        {% endif %}
        {% block login %} {% endblock %}
    </div>
</div>
<div class="container-fluid" role="main">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% if error is defined and error %}
            <div class="error alert alert-danger">
                {{ error.messageKey|trans(error.messageData) }}
            </div>
        {% endif %}
        {% block body %}{% endblock %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/letitrock.js') }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.print.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>


<script type="text/javascript">
    $.extend( $.fn.dataTable.defaults, {
        searching: false,
        ordering:  true,
        language: {
            lengthMenu: 'Visa _MENU_ rader',
            search: "Sök",
            paginate: {
                first: "Första",
                last: "Sista",
                next: "Nästa",
                previous: "Föregående"
            },
            infoFiltered: " - filtrerad från _MAX_ rader",
            info: "Visar _START_ till _END_ of _TOTAL_ rader"
        }
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
