{% trans_default_domain 'menu' %}
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 menu">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#" id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        {% trans %}menu.project{% endtrans %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('projects') }}">
                            {% trans %}menu.project_show{% endtrans %}
                        </a>
                        <a class="dropdown-item" href="{{ path('projects_new') }}">
                            {% trans %}menu.project_create{% endtrans %}
                        </a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#" id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        {% trans %}menu.customer{% endtrans %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('customers') }}">
                            {% trans %}menu.customer_show{% endtrans %}
                        </a>
                        <a class="dropdown-item" href="{{ path('customer_new') }}">
                            {% trans %}menu.customer_create{% endtrans %}
                        </a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#" id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        {% trans %}menu.timereport{% endtrans %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('timereport_view') }}">
                            {% trans %}menu.timereport_show{% endtrans %}
                        </a>
                        <a class="dropdown-item" href="{{ path('timereport_add') }}">
                            {% trans %}menu.timereport_create{% endtrans %}
                        </a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#" id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        {% trans %}menu.invoice{% endtrans %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('view_invoice_bases') }}">
                            {% trans %}menu.invoice.invoicebase_show{% endtrans %}
                        </a>
                        <a class="dropdown-item" href="{{ path('view_invoices') }}">
                            {% trans %} menu.invoice_show {% endtrans %}
                        </a>
                    </div>
                </li>
            </ul>
            {% if (app.user) %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-info navbar-btn" role="button" href="{{ path('_logout') }}">
                        {{ 'button_logout' | trans }}
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
</div>