{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    <div class="row">
        {% if not form.vars.valid %}
        <div class="error alert alert-danger">
            {{ form_errors(form)  }}
        </div>
        {% endif %}
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            <div class="form-group">
                {{ form_label(form.quantity) }}
                {{ form_widget(form.quantity) }}
            </div>
            <div class="form-group">
                {{ form_label(form.createdAt) }}
                {{ form_widget(form.createdAt) }}
            </div>
            <div class="form-group js-search-project">
                {{ form_label(form.project) }}
                {{ form_errors(form.project) }}
                {{ form_widget(form.project) }}
            </div>
            <div class="form-group">
                {{ form_row(form.save) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}