{% extends 'base.html.twig' %}
{% trans_default_domain 'timereporting' %}
{% block body %}
    <table class="table table-striped js-search-reports">
        <thead>
        <tr>
            <th>id</th>
            <th>{{ 'timereport.header.project' | trans }}</th>
            <th>{{ 'timereport.header.created' | trans }}</th>
            <th>{{ 'timereport.header.title' | trans }}</th>
            <th>{{ 'timereport.header.description' | trans }}</th>
            <th>{{ 'timereport.header.quantity' | trans }}</th>
            <th>{{ 'timereport.header.updated' | trans }}</th>
            <th>{{ 'timereport.header.create_invoicebase' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button class="btn btn-info js-create-invoice-base">
        {{ 'timereport.button.create_invoicebase' | trans }}
    </button>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
      $(document).ready(function () {
        $('table.js-search-reports').DataTable({
          processing: true,
          serverSide: true,
          ajax: '/ajaxRoute/findAllReports',
          dom: '<"text-right"B>lfrtip',
          searching: true,
          lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Alla"]],
          order: [],
          buttons: []
        });
      });
    </script>
{% endblock %}