{% extends 'base.html.twig' %}
{% trans_default_domain 'project' %}
{% block body %}
    <table class="table js-projects">
        <thead>
        <tr>
            <th>{{ 'project.name' | trans }}</th>
            <th>{{ 'project.company_name' | trans }}</th>
        </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td><a href="{{ path('projects_edit', { "id": project.id}) }}">{{ project.name  }}</a></td>
                <td>{{ project.customer.companyName }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.js-projects').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Alla"]],
                order: []
            });
        });
    </script>
{% endblock %}
