{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    <div class="row">
        {% if not form.vars.valid %}
            <div class="error alert alert-danger">
                {{ form_errors(form)  }}
            </div>
        {% endif %}
        <div class="col-md-4">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="col-md-4 js-search-customer">
            {{ form_label(form.companyName) }}
            {{ form_widget(form.companyName) }}
        </div>
    </div>
    <div class="form-group col-md-offset-8">
        {{ form_row(form.save) }}
    </div>
{% endblock %}
